:root {
  --vp-sidebar-width: 0;
}

.container > .VPNavBarTitle {
  border: none !important;
  background: none !important;
}

.VPSidebar {
  display: none;
}

.VPLocalNav {
  display: none !important;
}

.card-wrapper {
  margin-bottom: 3.6rem;
}

img {
  border-radius: 2px;
}

div.aside {
  display: none !important;
  width: 0;
}

.VPNavBar {
  backdrop-filter: saturate(50%) blur(8px);
  background: var(--vp-c-bg-alpha-with-backdrop);
}

@media (min-width: 960px) {
  .VPNavBar .content {
    backdrop-filter: none !important;
    background: none !important;
  }
}
